In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
df = pd.read_csv('green_tripdata_2019-09.csv', nrows=100)

In [4]:
df.head(10)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.00,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.00,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.00,NaN,0.3,18.36,1,1,0.0
5,2,2019-09-01 00:55:37,2019-09-01 01:17:02,N,1,7,41,1,6.26,21.0,0.5,0.5,0.00,6.12,NaN,0.3,28.42,2,1,0.0
6,2,2019-09-01 00:28:55,2019-09-01 00:52:09,N,1,33,37,1,4.34,18.0,0.5,0.5,3.86,0.00,NaN,0.3,23.16,1,1,0.0
7,1,2019-09-01 00:03:13,2019-09-01 00:03:32,N,1,55,55,1,1.20,2.5,0.5,0.5,0.00,0.00,NaN,0.3,3.80,3,1,0.0
8,1,2019-09-01 00:15:28,2019-09-01 00:43:22,N,1,55,89,1,0.00,22.2,0.0,0.5,0.00,0.00,NaN,0.3,23.00,1,1,0.0
9,2,2019-09-01 00:29:16,2019-09-01 00:30:15,N,1,17,17,1,0.14,2.5,0.5,0.5,0.00,0.00,NaN,0.3,3.80,2,1,0.0

In [5]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [8]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [10]:
# engine.connect()

In [17]:
# print(pd.io.sql.get_schema(df, name="green_taxi_data", con=engine))

In [38]:
df_iter = pd.read_csv('green_tripdata_2019-09.csv', iterator=True, chunksize=100000)

In [39]:
df = next(df_iter)

In [40]:
len(df)

100000

In [41]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [42]:
df.head(0).to_sql(name="green_taxi_data", con=engine, if_exists='replace')

0

In [22]:
# %time df.to_sql(name="green_taxi_data", con=engine, if_exists='append')

CPU times: user 13.3 s, sys: 769 ms, total: 14.1 s
Wall time: 35.8 s

1000

In [43]:
from time import time

In [44]:
while True:
    t_start = time()
    df = next(df_iter)
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    df.to_sql(name="green_taxi_data", con=engine, if_exists='append')
    t_end = time()
    print('inserted a new chunk, took %.3f second' % (t_end - t_start))

inserted a new chunk, took 19.576 second
inserted a new chunk, took 29.240 second

/var/folders/05/vrc_f8zs217fcp2x_jlb_zjh0000gn/T/ipykernel_62421/3578504934.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted a new chunk, took 21.668 second
inserted a new chunk, took 8.726 second

StopIteration:

In [23]:
df_all = pd.read_csv('green_tripdata_2019-09.csv')

/var/folders/05/vrc_f8zs217fcp2x_jlb_zjh0000gn/T/ipykernel_62421/3392409053.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_all = pd.read_csv('green_tripdata_2019-09.csv')

In [25]:
df_all.lpep_pickup_datetime = pd.to_datetime(df_all.lpep_pickup_datetime)
df_all.lpep_dropoff_datetime = pd.to_datetime(df_all.lpep_dropoff_datetime)

In [26]:
df_all.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1.0,1.0,0.0
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1.0,1.0,0.0
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1.0,1.0,0.0

In [27]:
time_start, time_end = '2019-09-18 00:00:00', '2019-09-18 23:59:59'

In [28]:
cond1 = (df_all['lpep_pickup_datetime'] >= time_start) & (df_all['lpep_pickup_datetime'] <= time_end)
cond2 = (df_all['lpep_dropoff_datetime'] >= time_start) & (df_all['lpep_dropoff_datetime'] <= time_end)

In [29]:
filtered_df = df_all[cond1 & cond2]

In [30]:
filtered_df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
217634,2.0,2019-09-18 09:12:39,2019-09-18 09:20:14,N,1.0,95,134,1.0,1.38,7.0,0.5,0.5,0.0,0.0,NaN,0.3,8.3,2.0,1.0,0.0
218133,2.0,2019-09-18 10:05:23,2019-09-18 10:12:42,N,1.0,95,196,1.0,1.23,7.0,0.5,0.5,0.0,0.0,NaN,0.3,8.3,2.0,1.0,0.0
218134,2.0,2019-09-18 10:53:43,2019-09-18 11:00:01,N,1.0,95,196,1.0,1.31,6.5,0.5,0.5,0.0,0.0,NaN,0.3,7.8,2.0,1.0,0.0
218254,2.0,2019-09-18 00:02:54,2019-09-18 00:08:54,N,1.0,74,168,1.0,1.54,7.0,0.5,0.5,0.0,0.0,NaN,0.3,8.3,2.0,1.0,0.0
218281,2.0,2019-09-18 00:03:40,2019-09-18 00:23:29,N,1.0,168,242,1.0,8.75,26.5,0.5,0.5,0.0,0.0,NaN,0.3,27.8,2.0,1.0,0.0

In [32]:
filtered_df['lpep_pickup_datetime'].count()

15612

In [35]:
filtered_df.shape

(15612, 20)

In [36]:
assert filtered_df['lpep_pickup_datetime'].count() == filtered_df['lpep_dropoff_datetime'].count()

In [46]:
df_all['pickup_date'] = df_all['lpep_pickup_datetime'].dt.date

In [49]:
groupby_date_df = df_all.groupby('pickup_date')['trip_distance'].sum()

In [51]:
groupby_date_df.sort_values(ascending=False)

pickup_date
2019-09-26    58759.94
2019-09-05    58450.56
2019-09-12    58233.45
2019-09-25    58003.66
2019-09-27    57993.91
2019-09-20    57532.69
2019-09-18    56483.59
2019-09-13    56264.42
2019-09-19    56221.89
2019-09-04    55987.23
2019-09-24    55734.88
2019-09-21    55533.59
2019-09-06    54927.00
2019-09-14    54618.33
2019-09-11    53754.69
2019-09-28    52767.43
2019-09-03    52439.31
2019-09-07    52290.27
2019-09-17    51877.07
2019-09-23    51530.34
2019-09-10    51388.74
2019-09-16    49909.18
2019-09-01    49479.61
2019-09-08    49184.17
2019-09-09    48771.76
2019-09-22    48499.93
2019-09-15    46306.43
2019-09-29    45115.71
2019-09-30    44857.27
2019-09-02    37606.10
2019-08-31       68.34
2009-01-01       54.04
2019-10-31        6.55
2019-11-02        5.79
2019-12-01        5.13
2019-11-24        4.43
2019-10-01        4.42
2019-11-03        4.06
2019-10-11        4.02
2010-09-23        3.46
2019-11-23        2.54
2019-10-10        2.43
2019-11-21        2.38
2020-01-03        1.70
2019-12-13        1.62
2020-02-15        1.57
2019-12-15        1.10
2020-03-07        0.62
2019-10-12        0.46
2009-01-05        0.00
Name: trip_distance, dtype: float64

In [62]:
df_all['pickup_date'] = pd.to_datetime(df_all['pickup_date'])

In [63]:
df_all['pickup_date'].head()

0   2019-09-01
1   2019-09-01
2   2019-09-01
3   2019-09-01
4   2019-09-01
Name: pickup_date, dtype: datetime64[ns]

In [64]:
cond3 = df_all['pickup_date'] == "2019-09-18"

In [65]:
certain_date_df = df_all[cond3]

In [66]:
certain_date_df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,pickup_date
217634,2.0,2019-09-18 09:12:39,2019-09-18 09:20:14,N,1.0,95,134,1.0,1.38,7.0,...,0.5,0.0,0.0,NaN,0.3,8.3,2.0,1.0,0.0,2019-09-18
218133,2.0,2019-09-18 10:05:23,2019-09-18 10:12:42,N,1.0,95,196,1.0,1.23,7.0,...,0.5,0.0,0.0,NaN,0.3,8.3,2.0,1.0,0.0,2019-09-18
218134,2.0,2019-09-18 10:53:43,2019-09-18 11:00:01,N,1.0,95,196,1.0,1.31,6.5,...,0.5,0.0,0.0,NaN,0.3,7.8,2.0,1.0,0.0,2019-09-18
218254,2.0,2019-09-18 00:02:54,2019-09-18 00:08:54,N,1.0,74,168,1.0,1.54,7.0,...,0.5,0.0,0.0,NaN,0.3,8.3,2.0,1.0,0.0,2019-09-18
218281,2.0,2019-09-18 00:03:40,2019-09-18 00:23:29,N,1.0,168,242,1.0,8.75,26.5,...,0.5,0.0,0.0,NaN,0.3,27.8,2.0,1.0,0.0,2019-09-18

In [68]:
certain_date_df.dtypes

VendorID                        float64
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
store_and_fwd_flag               object
RatecodeID                      float64
PULocationID                      int64
DOLocationID                      int64
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
pickup_date              datetime64[ns]
dtype: object

In [69]:
zone_df = pd.read_csv('taxi+_zone_lookup.csv')

In [71]:
zone_df.shape

(265, 4)

In [73]:
cond4 = zone_df['Borough'] != "Unknown"

In [75]:
cleaned_zone_df = zone_df[cond4]

In [76]:
cleaned_zone_df.shape

(263, 4)

In [77]:
cleaned_zone_df

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
258         259          Bronx       Woodlawn/Wakefield    Boro Zone
259         260         Queens                 Woodside    Boro Zone
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone

[263 rows x 4 columns]

In [79]:
cleaned_zone_df.head(0).to_sql(name="taxi_zone_data", con=engine, if_exists='replace')

0

In [80]:
%time zone_df.to_sql(name="taxi_zone_data", con=engine, if_exists='append')

CPU times: user 12.1 ms, sys: 7.23 ms, total: 19.4 ms
Wall time: 275 ms

265

In [81]:
cond5 = zone_df['Zone'] == "Astoria"

In [82]:
zone_df[cond5]

   LocationID Borough     Zone service_zone
6           7  Queens  Astoria    Boro Zone

In [84]:
cond_test = zone_df['Zone'] == "Central Park"

In [85]:
zone_df[cond_test]

    LocationID    Borough          Zone service_zone
42          43  Manhattan  Central Park  Yellow Zone

In [86]:
cond_test = zone_df['Zone'] == "Jamaica"

In [87]:
zone_df[cond_test]

     LocationID Borough     Zone service_zone
129         130  Queens  Jamaica    Boro Zone

In [88]:
cond_test = zone_df['Zone'] == "JFK Airport"

In [89]:
zone_df[cond_test]

     LocationID Borough         Zone service_zone
131         132  Queens  JFK Airport     Airports

In [90]:
cond_test = zone_df['Zone'] == "Long Island City/Queens Plaza"

In [91]:
zone_df[cond_test]

     LocationID Borough                           Zone service_zone
145         146  Queens  Long Island City/Queens Plaza    Boro Zone